@page
@model Presentacion.Pages.CrudControl.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Control</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Control.Id" />
            <div class="form-group">
                <label asp-for="Control.Nombre" class="control-label"></label>
                <input asp-for="Control.Nombre" class="form-control" />
                <span asp-validation-for="Control.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Control.Serial" class="control-label"></label>
                <input asp-for="Control.Serial" class="form-control" />
                <span asp-validation-for="Control.Serial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Control.FechaCompra" class="control-label"></label>
                <input asp-for="Control.FechaCompra" class="form-control" />
                <span asp-validation-for="Control.FechaCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Control.precioCompra" class="control-label"></label>
                <input asp-for="Control.precioCompra" class="form-control" />
                <span asp-validation-for="Control.precioCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Control.precioVenta" class="control-label"></label>
                <input asp-for="Control.precioVenta" class="form-control" />
                <span asp-validation-for="Control.precioVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
